apiVersion: apps/v1
kind: Deployment
metadata:
  name: productos-api # Este es el nombre que usaremos para el reinicio
spec:
  replicas: 2
  selector:
    matchLabels:
      app: productos
  template:
    metadata:
      labels:
        app: productos
    spec:
      containers:
      - name: productos-container
        image: euler09/productos-api:latest 
        ports:
        - containerPort: 8080
        env:
        - name: ConnectionStrings__DefaultConnection
          value: "Server=servidor-sql.cevqoao4e4li.us-east-1.rds.amazonaws.com,1433;Database=DbMicroserviceProducts;User Id=admin;Password=martinez1234;TrustServerCertificate=True;"
        - name: RabbitMq__Hostname
          value: "b-f19a7ab2-7079-4163-b0c6-854fe583469f.mq.us-east-1.on.aws"
---
apiVersion: v1
kind: Service
metadata:
  name: productos-service
spec:
  selector:
    app: productos
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: LoadBalancer