name: Desplegar a AWS y K8s

on:
  workflow_run:
    workflows: ["Pipeline CI"]
    types: [completed]
    branches: [master]

jobs:
  despliegue:
    # Solo se ejecuta si el Pipeline CI terminó con éxito
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
    - name: Descargar código
      uses: actions/checkout@v3

    - name: Configurar credenciales de AWS
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Actualizar Kubeconfig
      # Conexión al clúster 'microservicios-cluster'
      run: aws eks update-kubeconfig --name microservicios-cluster --region us-east-1

    - name: Desplegar en Kubernetes
      run: |
        # Aplica el archivo deployment.yml que está en la raíz
        kubectl apply -f ./deployment.yml
        
        # CORRECCIÓN: El nombre del deployment debe ser 'productos-api'
        # para que coincida con el nombre que definiste en el archivo de Kubernetes.
        kubectl rollout restart deployment productos-api