name: Desplegar a AWS y K8s

on:
  workflow_run:
    workflows: ["Pipeline CI"]
    types: [completed]
    branches: [master]

jobs:
  despliegue:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
    - name: Descargar código
      uses: actions/checkout@v3

    - name: Configurar credenciales de AWS
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Actualizar Kubeconfig
      run: aws eks update-kubeconfig --name microservicios-cluster --region us-east-1

    - name: Desplegar en Kubernetes
      # Esto forzará a Kubernetes a usar la nueva imagen que subiste en 'cambios v10'
      run: |
        kubectl apply -f ./deployment.yaml
        kubectl rollout restart deployment productos-api-deployment