name: Desplegar a AWS y K8s

on:
  workflow_run:
    workflows: ["Pipeline CI"]
    types: [completed]
    branches: [master]

jobs:
  despliegue:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
    - name: Descargar c칩digo
      uses: actions/checkout@v3

    - name: Configurar credenciales de AWS
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Actualizar Kubeconfig
      # Conexi칩n autom치tica al cl칰ster en AWS
      run: aws eks update-kubeconfig --name microservicios-cluster --region us-east-1

    - name: Desplegar en Kubernetes
      run: |
        # Aplica el manifiesto de la ra칤z
        kubectl apply -f ./deployment.yml
        # Reinicia el despliegue con el nombre correcto
        kubectl rollout restart deployment productos-api

    - name: Obtener URL del Servidor
      run: |
        echo "Esperando a que AWS asigne la URL p칰blica..."
        # Pausa breve para dar tiempo al LoadBalancer de responder
        sleep 15
        # Extraer el hostname del servicio de tipo LoadBalancer
        URL=$(kubectl get service productos-service -o jsonpath='{.status.loadBalancer.ingress[0].hostname}')
        
        # Imprimir en los logs del pipeline
        echo "------------------------------------------------------"
        echo "URL DE ACCESO: http://$URL/swagger"
        echo "------------------------------------------------------"
        
        # Publicar en el resumen de GitHub Actions
        echo "### 游 Despliegue Exitoso" >> $GITHUB_STEP_SUMMARY
        echo "La API est치 disponible en: [http://$URL/swagger](http://$URL/swagger)" >> $GITHUB_STEP_SUMMARY